.App {
  text-align: center;
}

.App header {
  background-color: rgb(210, 181, 215);
  padding: 1rem;
  margin: 1rem;
}

.App header h1 {
  color: rgb(85, 38, 93);
}


.Characters {
  border: 1px solid #333;
  background-color: rgb(255, 239, 225);
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.Characters button {
  background-color: indianred;
  color: white;
}

.App footer {
  background-color: rgb(179, 204, 216);
  padding: 1rem;
  margin: 1rem;
}
.App footer p {
  color: rgb(0, 107, 161);
}

a {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  color:  rgb(111, 0, 221);
  text-shadow: none;
}
a:hover {
  color:  rgb(55, 2, 108);
}
a.active {
  background-color: rgb(163, 250, 244);
}